global
    maxconn 1000
    nbthread 1

defaults
    mode http
    timeout connect 500ms
    timeout client  5s
    timeout server  5s
    timeout http-keep-alive 1s

frontend rinha_frontend
    bind *:9999
    default_backend rinha_backend

backend rinha_backend
    balance roundrobin
    http-reuse safe

    server app1 app1:8080
    server app2 app2:8080
