global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 2000
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 10s
    timeout client  60s
    timeout server  60s

frontend rinha_frontend
    bind *:9999
    maxconn 1000
    default_backend rinha_backend

backend rinha_backend
    balance roundrobin
    option http-keep-alive

    # Configuração com tolerância para subida lenta
    # inter: intervalo de 5s entre checks
    # fall: permite 5 falhas antes de marcar como DOWN (~25 segundos total)
    # rise: com apenas 1 sucesso já marca como UP
    server app1 app1:8080 check inter 5s fall 5 rise 1 maxconn 500
    server app2 app2:8080 check inter 5s fall 5 rise 1 maxconn 500
