global
    maxconn 2000
    nbthread 1

defaults
    mode http

    timeout connect 1s
    timeout client  5s
    timeout server  5s
    timeout http-keep-alive 5s
    timeout http-request 2s

    option dontlognull

frontend rinha_frontend
    bind *:9999
    maxconn 1000
    default_backend rinha_backend

backend rinha_backend
    balance roundrobin

    option http-keep-alive
    http-reuse safe

    option redispatch
    retries 1

    default-server inter 500ms fall 3 rise 1

    server app1 app1:8080 check
    server app2 app2:8080 check

